 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

#homepage {
    overflow-x: hidden;
}

#home-sec1,
#home-sec2 {
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#home-sec1 {
    background: rgba(255,255,255,0.15); -webkit-backdrop-filter: blur(3px); backdrop-filter: blur(3px); border: 1px solid rgba(255,255,255,0.075);
}


@keyframes vintageGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

